<div class="clearfix col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <label class="control-label no-padding-right" for="Email">CEP</label>

    <div class="input-group">
        <input class="col-xs-12" value="" type="text" ng-model="ngModel.cep" ng-blur="BuscarCEP()" />
    </div>
</div>
        
<div class="clearfix col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <label class="control-label no-padding-right" for="logradouro">Logradouro</label>

    <div class="input-group">
        <input class="col-xs-12" value="" type="text" ng-model="ngModel.logradouro" />
    </div>
</div>

<div class="clearfix col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <label class="control-label no-padding-right" for="numero">Número</label>

    <div class="input-group">
        <input class="col-xs-12" value="" type="text"  ng-model="ngModel.numero" />
    </div>
</div>

<div class="clearfix col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <label class="control-label no-padding-right" for="complemento">Complemento</label>

    <div class="input-group">
        <input class="col-xs-12" value="" type="text"  ng-model="ngModel.complemento" />
    </div>
</div>

<div class="clearfix col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <label class="control-label no-padding-right" for="bairro">Bairro</label>

    <div class="input-group">
        <input class="col-xs-12" value="" type="text"  ng-model="ngModel.bairro" />
    </div>
</div>

<div class="clearfix col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <label class="control-label no-padding-right" for="localidade">Localidade</label>

    <div class="input-group">
        <input class="col-xs-12" value="" type="text"  ng-model="ngModel.localidade" />
    </div>
</div>

<div class="clearfix col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <label class="control-label no-padding-right" for="uf">UF</label>

    <div class="input-group">
        <input class="col-xs-12" value="" type="text"  ng-model="ngModel.uf" />
    </div>
</div>